{% extends "layout.html" %}
{%block content%}
    {%from "_macros.html" import input%}
    <br><br>
    <div class="container">
        <form name="sent" action="/search" id="form1" method="post">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{input(form.fecha,class="form-control")}}
                </div> 
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>  
                <input type="submit" class="btn btn-success" id="buscar" name="buscar" value="Buscar"/>
        </form>
        <br><br>
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr class="tr-head">
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Numero De Pizzas</th>
                        <th>Tamaño de Pizza</th>
                        <th>Ingredientes</th>
                    </tr>
                </thead>
                <tbody>
                    {%for pizza in pizzas%}
                    <tr>
                        <td>{{pizza.nombre}}</td>
                        <td>{{pizza.direccion}}</td>
                        <td>{{pizza.telefono}}</td>
                        <td>{{pizza.num_pizzas}}</td>
                        <td>{{pizza.tam_pizzas}}</td>
                        <td>{{pizza.ingredientes}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}