{% extends "layout.html" %}
{%block content%}
    {%from "_macros.html" import input%}
    <br><br>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr class="tr-head">
                        <th>Tamaño</th>
                        <th>Ingredientes</th>
                        <th>Num Pizzas</th>
                        <th>SubTotal</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    {%for pizza in pizzas%}
                    <tr>
                        <td>{{pizza.tam_pizzas}}</td>
                        <td>{{pizza.ingredientes}}</td>
                        <td>{{pizza.num_pizzas}}</td>
                        <td>{{pizza.subtotal}}</td>
                        <td><a href="remove_list?index={{pizza.index}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div> 
{%endblock%}