{% extends "layout.html" %}
{%block content%}
<br><br>
    {%from "_macros.html" import input %}
    <div class="container text-center" style="background: #27AE60; border-radius: 10px;">
        <br>
        <div class="row">
            <form name="sent" action="/update" id="form1" method="post">

                <div class="row align-items-center">
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.id,class="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.nombre,class="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.direccion,class="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.telefono,class="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.tam_pizzas,class="form-control ")}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.ingredientes,class="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input(form.num_pizzas,class="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <input type="submit" class="btn btn-danger" id="modificar" name="modificar" value="Modificar"/>
            </form>
        </div>
        <br>
    </div>  
{%endblock%}